body {
font-family: monospace;
text-align:center;
font-size:20px;
font-wieght: bold;
}

form {
background-color: lightgrey;
padding: 40px;
}

#PyramidHeight {
display: inline;
font-wieght: bolder;
}

p {
padding: 0px;
margin: auto;
font-size:150%;
}

#pyramid {
padding: 50px
}

#SliderDiv {
margin:200px;
margin-top:0px;
color:red;
border:5px solid black;
border-radius: 5px;
}

select {
margin-right:100px;
}